body {
    font-family: 'Noto Serif JP', serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.sma{
    display: none;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

#hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-content {
    text-align: center;
    color: white;
    z-index: 1;
    padding: 2rem;
 
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1;
}

section {
    padding: 2rem 2rem;
    text-align: center;
}

#menu{
    background-color: #F4F0E6;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 3rem;

}

#about img {
    width: 60%;
    max-width: 1200px;
    margin-right: 2rem;
    margin-left: -6rem;
    border-radius:0px 10px 10px 0px ;
    -webkit-border-radius:0px 10px 10px 0px ;
    -moz-border-radius:0px 10px 10px 0px ;
}

.menu-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin: 3rem;
}

.menu-preview .menu-description {
    width: 45%;
    text-align: left;
    margin-right:2rem;
}

.menu-preview img {
    width: 60%;
    max-width: 1200px;
    margin-right:-6rem;
    border-radius:10px 0px 0px 10px ;
    -webkit-border-radius:10px 0px 0px 10px ;
    -moz-border-radius:10px 0px 0px 10px ;
}

.menu-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #d4af37;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.phone {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.call-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#access {
    padding: 0;
}

.access-container {
    position: relative;
    width: 100%;
    height: 450px;
}

.access-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: #F4F0E6s(100%)
}

.access-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(244, 240, 230, 0.9);
    padding: 2rem;
    max-width: 300px;
    text-align: left;
    margin:2rem;
}

.access-info h3 {
    margin-top: 0;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#full-menu {
    max-width: 1200px;
    margin: 0 auto;
}

#full-menu .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#full-menu .menu-description {
    width: 45%;
    text-align: left;
}

#full-menu img {
    width: 45%;
    max-width: 400px;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #4CAF50;
}

@media screen and (max-width: 768px) {

    .access-info {
        display:none;
    }

    .sma{
        display: block;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 2.5rem 0;
    }

    .burger {
        display: block;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #about, .menu-preview, #full-menu .menu-item {
        flex-direction: column;
    }

    #about{
        margin:1rem;
    }

    #about img, .menu-preview img, #full-menu img {
        width: 100%;
        margin-bottom: 1rem;
        margin:0 auto;
        border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    display:none;
    }

    .menu-preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0rem;
    }

    .menu-preview .menu-description, #full-menu .menu-description {
        width: 100%;
        text-align: left;
        margin-right: 0rem;
    }

    .access-info {
        flex-direction: column;
    }

    .access-info iframe {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .menu-button {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #d4af37;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 0 2rem 0;
    }
}

